{% load static %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css'% }" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>MilliSay -- Instantly post short essays and stories</title>
</head>
<body>
<div class = "navbar navbar-inverse navbar-static-top">
        <div class = "container">
            <a href="/" class = "navbar-brand">MilliSay</a>
            <div class="navbar-collapse" id="navigation-bar">
                <ul class="nav navbar-nav">
                    <li><a href="/">New</a></li>
                    <li><a href="/submit">Submit</a></li>
            </div>
        </div>

    </div>
<h1>Most recent MilliSays</h1>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li> <a href="/post/{{post.id}}"/>{{ post.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong> There are no posts to show!</strong>
    {% endif %}

    <a href="/submit"/><h2>Instantly submit your own MilliSay</h2>


    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>


</body>
</html>