{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css'% }" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>{{ post.title }}</title>
</head>
<body>
    <div class = "navbar navbar-inverse navbar-static-top">
        <div class = "container">
            <a href="/" class = "navbar-brand">MilliSay</a>
            <div class="collapse navbar-collapse" id="navigation-bar">
                <ul class="nav navbar-nav">
                    <li><a href="/new">New</a></li>
                    <li><a href="/submit">Submit</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class = "container">
        <div class = "row">
          <div class="col-lg-10">
              <div class = "panel panel-default">
                  <div class = "panel-body">
                    <div class = "page-header">
                        <h1>{{ post.title }}<small> {{post.words}} words</small></h1>
                        <br>
                        <p>{{ post.content|linebreaks }}</p>
                        <br>
                     <!--<p><small>Published {{ post.pub_date }}</small></p>-->
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
<div class="navbar navbar-inverse navbar-static-bottom">
    <div class="container">
        <a href="/post/1" class = "navbar-text pull-left">About</a>
        <a href="/post/2" class = "navbar-text pull-left">Terms of Use</a>
        <a href="/post/3" class = "navbar-text pull-left">Contact</a>
        </div>
    </div>
</div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>